/* Challenge 1:
Make an image double in size when you hover over it but don’t make it jump.
Use a transition to make the transformation smooth. The transition should
happen within 1 second, and the transition-timing-function should be 
set to ease-in. In the hint tab, you'll find a link to boilerplate files
to help get you started.*/

.img1 {
    margin: 80px;
    transition: transform 1s ease;
}

.img1:hover {
    transform: scale(2);
}

/* Challenge 2:
Use the rotate function to spin an image infinitely. 
The image should rotate without any breaks and stops. 
Don't forget to give your animation a name! In the hint tab,
you'll find a link to boilerplate files to help get you started.*/

.img2 {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Challenge 3:
When hovered, move a div with a class of element on X axis by
100% in 1 second. Apply transitions.*/

.element {
	background-color: #0997d3;
	width: 200px;
	height: 200px;
	transition: transform 1s ease-in-out;
}

.element:hover {
	transform: translateX(100%); /* can not use deg */
}